In [2]:
import pandas as pd

the_base_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/"

dates = [
    "01-01-2021", "01-01-2022", "01-01-2023",
    "01-02-2021", "01-02-2022", "01-02-2023",
    "01-03-2021", "01-03-2022", "01-03-2023",
    "01-04-2021", "01-04-2022", "01-04-2023",
    "01-05-2021", "01-05-2022", "01-05-2023",
    "01-06-2021", "01-06-2022", "01-06-2023",
    "01-07-2021", "01-07-2022", "01-07-2023",
    "01-08-2021", "01-08-2022", "01-08-2023",
    "01-09-2021", "01-09-2022", "01-09-2023",
    "01-10-2021", "01-10-2022", "01-10-2023",
    "01-11-2021", "01-11-2022", "01-11-2023",
    "01-12-2021", "01-12-2022", "01-12-2023",
    "01-13-2021", "01-13-2022", "01-13-2023",
    "01-14-2021", "01-14-2022", "01-14-2023",
    "01-15-2021", "01-15-2022", "01-15-2023",
    "01-16-2021", "01-16-2022", "01-16-2023",
    "01-17-2021", "01-17-2022", "01-17-2023",
    "01-18-2021", "01-18-2022", "01-18-2023",
    "01-19-2021", "01-19-2022", "01-19-2023",
    "01-20-2021", "01-20-2022", "01-20-2023",
    "01-21-2021", "01-21-2022", "01-21-2023",
    "01-22-2020", "01-22-2021", "01-22-2022", "01-22-2023",
    "01-23-2020", "01-23-2021", "01-23-2022", "01-23-2023",
    "01-24-2020", "01-24-2021", "01-24-2022", "01-24-2023",
    "01-25-2020", "01-25-2021", "01-25-2022", "01-25-2023",
    "01-26-2020", "01-26-2021", "01-26-2022", "01-26-2023",
    "01-27-2020", "01-27-2021", "01-27-2022", "01-27-2023",
    "01-28-2020", "01-28-2021", "01-28-2022", "01-28-2023",
    "01-29-2020", "01-29-2021", "01-29-2022", "01-29-2023",
    "01-30-2020", "01-30-2021", "01-30-2022", "01-30-2023",
    "01-31-2020", "01-31-2021", "01-31-2022", "01-31-2023",
    "02-01-2020", "02-01-2021", "02-01-2022", "02-01-2023",
    "02-02-2020", "02-02-2021", "02-02-2022", "02-02-2023",
    "02-03-2020", "02-03-2021", "02-03-2022", "02-03-2023",
    "02-04-2020", "02-04-2021", "02-04-2022", "02-04-2023",
    "02-05-2020", "02-05-2021", "02-05-2022", "02-05-2023",
    "02-06-2020", "02-06-2021", "02-06-2022", "02-06-2023",
    "02-07-2020", "02-07-2021", "02-07-2022", "02-07-2023",
    "02-08-2020", "02-08-2021", "02-08-2022", "02-08-2023",
    "02-09-2020", "02-09-2021", "02-09-2022", "02-09-2023",
    "02-10-2020", "02-10-2021", "02-10-2022", "02-10-2023",
    "02-11-2020", "02-11-2021", "02-11-2022", "02-11-2023",
    "02-12-2020", "02-12-2021", "02-12-2022", "02-12-2023",
    "02-13-2020", "02-13-2021", "02-13-2022", "02-13-2023",
    "02-14-2020", "02-14-2021", "02-14-2022", "02-14-2023",
    "02-15-2020", "02-15-2021", "02-15-2022", "02-15-2023",
    "02-16-2020", "02-16-2021", "02-16-2022", "02-16-2023",
    "02-17-2020", "02-17-2021", "02-17-2022", "02-17-2023",
    "02-18-2020", "02-18-2021", "02-18-2022", "02-18-2023",
    "02-19-2020", "02-19-2021", "02-19-2022", "02-19-2023",
    "02-20-2020", "02-20-2021", "02-20-2022", "02-20-2023",
    "02-21-2020", "02-21-2021", "02-21-2022", "02-21-2023",
    "02-22-2020", "02-22-2021", "02-22-2022", "02-22-2023",
    "02-23-2020", "02-23-2021", "02-23-2022", "02-23-2023",
    "02-24-2020", "02-24-2021", "02-24-2022", "02-24-2023",
    "02-25-2020", "02-25-2021", "02-25-2022", "02-25-2023",
    "02-26-2020", "02-26-2021", "02-26-2022", "02-26-2023",
    "03-01-2020", "03-01-2021", "03-01-2022", "03-01-2023",
    "03-02-2020", "03-02-2021", "03-02-2022", "03-02-2023",
    "03-03-2020", "03-03-2021", "03-03-2022", "03-03-2023",
    "03-04-2020", "03-04-2021", "03-04-2022", "03-04-2023",
    "03-05-2020", "03-05-2021", "03-05-2022", "03-05-2023",
    "03-06-2020", "03-06-2021", "03-06-2022", "03-06-2023",
    "03-07-2020", "03-07-2021", "03-07-2022", "03-07-2023",
    "03-08-2020", "03-08-2021", "03-08-2022", "03-08-2023",
    "03-09-2020", "03-09-2021", "03-09-2022", "03-09-2023",
    "03-10-2020", "03-10-2021", "03-10-2022", 
    "03-11-2020", "03-11-2021", "03-11-2022", 
    "03-12-2020", "03-12-2021", "03-12-2022", 
    "03-13-2020", "03-13-2021", "03-13-2022", 
    "03-14-2020", "03-14-2021", "03-14-2022", 
    "03-15-2020", "03-15-2021", "03-15-2022",
    "03-16-2020", "03-16-2021", "03-16-2022",
    "03-17-2020", "03-17-2021", "03-17-2022",
    "03-18-2020", "03-18-2021", "03-18-2022",
    "03-19-2020", "03-19-2021", "03-19-2022",
    "03-20-2020", "03-20-2021", "03-20-2022",
    "03-21-2020", "03-21-2021", "03-21-2022",
    "03-22-2020", "03-22-2021", "03-22-2022",
    "03-23-2020", "03-23-2021", "03-23-2022",
    "03-24-2020", "03-24-2021", "03-24-2022",
    "03-25-2020", "03-25-2021", "03-25-2022",
    "03-26-2020", "03-26-2021", "03-26-2022",
    "03-27-2020", "03-27-2021", "03-27-2022",
    "03-28-2020", "03-28-2021", "03-28-2022",
    "03-29-2020", "03-29-2021", "03-29-2022",
    "03-30-2020", "03-30-2021", "03-30-2022",
    "03-31-2020", "03-31-2021", "03-31-2022",
    "04-01-2020", "04-01-2021", "04-01-2022",
    "04-02-2020", "04-02-2021", "04-02-2022",
    "04-03-2020", "04-03-2021", "04-03-2022",
    "04-04-2020", "04-04-2021", "04-04-2022",
    "04-05-2020", "04-05-2021", "04-05-2022",
    "04-06-2020", "04-06-2021", "04-06-2022",
    "04-07-2020", "04-07-2021", "04-07-2022",
    "04-08-2020", "04-08-2021", "04-08-2022",
    "04-09-2020", "04-09-2021", "04-09-2022",
    "04-10-2020", "04-10-2021", "04-10-2022",
    "04-11-2020", "04-11-2021", "04-11-2022",
    "04-12-2020", "04-12-2021", "04-12-2022",
    "04-13-2020", "04-13-2021", "04-13-2022",
    "04-14-2020", "04-14-2021", "04-14-2022",
    "04-15-2020", "04-15-2021", "04-15-2022",
    "04-16-2020", "04-16-2021", "04-16-2022",
    "04-17-2020", "04-17-2021", "04-17-2022",
    "04-18-2020", "04-18-2021", "04-18-2022",
    "04-19-2020", "04-19-2021", "04-19-2022",
    "04-20-2020", "04-20-2021", "04-20-2022",
    "04-21-2020", "04-21-2021", "04-21-2022",
    "04-22-2020", "04-22-2021", "04-22-2022",
    "04-23-2020", "04-23-2021", "04-23-2022",
    "04-24-2020", "04-24-2021", "04-24-2022",
    "04-25-2020", "04-25-2021", "04-25-2022",
    "04-26-2020", "04-26-2021", "04-26-2022",
    "04-27-2020", "04-27-2021", "04-27-2022",
    "04-28-2020", "04-28-2021", "04-28-2022",
    "04-29-2020", "04-29-2021", "04-29-2022",
    "04-30-2020", "04-30-2021", "04-30-2022",
    "05-01-2020", "05-01-2021", "05-01-2022",
    "05-02-2020", "05-02-2021", "05-02-2022",
    "05-03-2020", "05-03-2021", "05-03-2022",
    "05-04-2020", "05-04-2021", "05-04-2022",
    "05-05-2020", "05-05-2021", "05-05-2022",
    "05-06-2020", "05-06-2021", "05-06-2022",
    "05-07-2020", "05-07-2021", "05-07-2022",
    "05-08-2020", "05-08-2021", "05-08-2022",
    "05-09-2020", "05-09-2021", "05-09-2022",
    "05-10-2020", "05-10-2021", "05-10-2022",
    "05-11-2020", "05-11-2021", "05-11-2022",
    "05-12-2020", "05-12-2021", "05-12-2022",
    "05-13-2020", "05-13-2021", "05-13-2022",
    "05-14-2020", "05-14-2021", "05-14-2022",
    "05-15-2020", "05-15-2021", "05-15-2022",
    "05-16-2020", "05-16-2021", "05-16-2022",
    "05-17-2020", "05-17-2021", "05-17-2022",
    "05-18-2020", "05-18-2021", "05-18-2022",
    "05-19-2020", "05-19-2021", "05-19-2022",
    "05-20-2020", "05-20-2021", "05-20-2022",
    "05-21-2020", "05-21-2021", "05-21-2022",
    "05-22-2020", "05-22-2021", "05-22-2022",
    "05-23-2020", "05-23-2021", "05-23-2022",
    "05-24-2020", "05-24-2021", "05-24-2022",
    "05-25-2020", "05-25-2021", "05-25-2022",
    "05-26-2020", "05-26-2021", "05-26-2022",
    "05-27-2020", "05-27-2021", "05-27-2022",
    "05-28-2020", "05-28-2021", "05-28-2022",
    "05-29-2020", "05-29-2021", "05-29-2022",
    "05-30-2020", "05-30-2021", "05-30-2022",
    "05-31-2020", "05-31-2021", "05-31-2022",
    "06-01-2020", "06-01-2021", "06-01-2022",
    "06-02-2020", "06-02-2021", "06-02-2022",
    "06-03-2020", "06-03-2021", "06-03-2022",
    "06-04-2020", "06-04-2021", "06-04-2022",
    "06-05-2020", "06-05-2021", "06-05-2022",
    "06-06-2020", "06-06-2021", "06-06-2022",
    "06-07-2020", "06-07-2021", "06-07-2022",
    "06-08-2020", "06-08-2021", "06-08-2022",
    "06-09-2020", "06-09-2021", "06-09-2022",
    "06-10-2020", "06-10-2021", "06-10-2022",
    "06-11-2020", "06-11-2021", "06-11-2022",
    "06-12-2020", "06-12-2021", "06-12-2022",
    "06-13-2020", "06-13-2021", "06-13-2022",
    "06-14-2020", "06-14-2021", "06-14-2022",
    "06-15-2020", "06-15-2021", "06-15-2022",
    "06-16-2020", "06-16-2021", "06-16-2022",
    "06-17-2020", "06-17-2021", "06-17-2022",
    "06-18-2020", "06-18-2021", "06-18-2022",
    "06-19-2020", "06-19-2021", "06-19-2022",
    "06-20-2020", "06-20-2021", "06-20-2022",
    "06-21-2020", "06-21-2021", "06-21-2022",
    "06-22-2020", "06-22-2021", "06-22-2022",
    "06-23-2020", "06-23-2021", "06-23-2022",
    "06-24-2020", "06-24-2021", "06-24-2022",
    "06-25-2020", "06-25-2021", "06-25-2022",
    "06-26-2020", "06-26-2021", "06-26-2022",
    "06-27-2020", "06-27-2021", "06-27-2022",
    "06-28-2020", "06-28-2021", "06-28-2022",
    "06-29-2020", "06-29-2021", "06-29-2022",
    "06-30-2020", "06-30-2021", "06-30-2022",
    "07-01-2020", "07-01-2021", "07-01-2022",
    "07-02-2020", "07-02-2021", "07-02-2022",
    "07-03-2020", "07-03-2021", "07-03-2022",
    "07-04-2020", "07-04-2021", "07-04-2022",
    "07-05-2020", "07-05-2021", "07-05-2022",
    "07-06-2020", "07-06-2021", "07-06-2022",
    "07-07-2020", "07-07-2021", "07-07-2022",
    "07-08-2020", "07-08-2021", "07-08-2022",
    "07-09-2020", "07-09-2021", "07-09-2022",
    "07-10-2020", "07-10-2021", "07-10-2022",
    "07-11-2020", "07-11-2021", "07-11-2022",
    "07-12-2020", "07-12-2021", "07-12-2022",
    "07-13-2020", "07-13-2021", "07-13-2022",
    "07-14-2020", "07-14-2021", "07-14-2022",
    "07-15-2020", "07-15-2021", "07-15-2022",
    "07-16-2020", "07-16-2021", "07-16-2022",
    "07-17-2020", "07-17-2021", "07-17-2022",
    "07-18-2020", "07-18-2021", "07-18-2022",
    "07-19-2020", "07-19-2021", "07-19-2022",
    "07-20-2020", "07-20-2021", "07-20-2022",
    "07-21-2020", "07-21-2021", "07-21-2022",
    "07-22-2020", "07-22-2021", "07-22-2022",
    "07-23-2020", "07-23-2021", "07-23-2022",
    "07-24-2020", "07-24-2021", "07-24-2022",
    "07-25-2020", "07-25-2021", "07-25-2022",
    "07-26-2020", "07-26-2021", "07-26-2022",
    "07-27-2020", "07-27-2021", "07-27-2022",
    "07-28-2020", "07-28-2021", "07-28-2022",
    "07-29-2020", "07-29-2021", "07-29-2022",
    "07-30-2020", "07-30-2021", "07-30-2022",
    "07-31-2020", "07-31-2021", "07-31-2022",
    "08-01-2020", "08-01-2021", "08-01-2022",
    "08-02-2020", "08-02-2021", "08-02-2022",
    "08-03-2020", "08-03-2021", "08-03-2022",
    "08-04-2020", "08-04-2021", "08-04-2022",
    "08-05-2020", "08-05-2021", "08-05-2022",
    "08-06-2020", "08-06-2021", "08-06-2022",
    "08-07-2020", "08-07-2021", "08-07-2022",
    "08-08-2020", "08-08-2021", "08-08-2022",
    "08-09-2020", "08-09-2021", "08-09-2022",
    "08-10-2020", "08-10-2021", "08-10-2022",
    "08-11-2020", "08-11-2021", "08-11-2022",
    "08-12-2020", "08-12-2021", "08-12-2022",
    "08-13-2020", "08-13-2021", "08-13-2022",
    "08-14-2020", "08-14-2021", "08-14-2022",
    "08-15-2020", "08-15-2021", "08-15-2022",
    "08-16-2020", "08-16-2021", "08-16-2022",
    "08-17-2020", "08-17-2021", "08-17-2022",
    "08-18-2020", "08-18-2021", "08-18-2022",
    "08-19-2020", "08-19-2021", "08-19-2022",
    "08-20-2020", "08-20-2021", "08-20-2022",
    "08-21-2020", "08-21-2021", "08-21-2022",
    "08-22-2020", "08-22-2021", "08-22-2022",
    "08-23-2020", "08-23-2021", "08-23-2022",
    "08-24-2020", "08-24-2021", "08-24-2022",
    "08-25-2020", "08-25-2021", "08-25-2022",
    "08-26-2020", "08-26-2021", "08-26-2022",
    "08-27-2020", "08-27-2021", "08-27-2022",
    "08-28-2020", "08-28-2021", "08-28-2022",
    "08-29-2020", "08-29-2021", "08-29-2022",
    "08-30-2020", "08-30-2021", "08-30-2022",
    "08-31-2020", "08-31-2021", "08-31-2022",
    "09-01-2020", "09-01-2021", "09-01-2022",
    "09-02-2020", "09-02-2021", "09-02-2022",
    "09-03-2020", "09-03-2021", "09-03-2022",
    "09-04-2020", "09-04-2021", "09-04-2022",
    "09-04-2020", "09-04-2021", "09-04-2022",
    "09-05-2020", "09-05-2021", "09-05-2022",
    "09-06-2020", "09-06-2021", "09-06-2022",
    "09-07-2020", "09-07-2021", "09-07-2022",
    "09-08-2020", "09-08-2021", "09-08-2022",
    "09-09-2020", "09-09-2021", "09-09-2022",
    "09-10-2020", "09-10-2021", "09-10-2022",
    "09-11-2020", "09-11-2021", "09-11-2022",
    "09-12-2020", "09-12-2021", "09-12-2022",
    "09-13-2020", "09-13-2021", "09-13-2022",
    "09-14-2020", "09-14-2021", "09-14-2022",
    "09-15-2020", "09-15-2021", "09-15-2022",
    "09-16-2020", "09-16-2021", "09-16-2022",
    "09-17-2020", "09-17-2021", "09-17-2022",
    "09-18-2020", "09-18-2021", "09-18-2022",
    "09-19-2020", "09-19-2021", "09-19-2022",
    "09-20-2020", "09-20-2021", "09-20-2022",
    "09-21-2020", "09-21-2021", "09-21-2022",
    "09-22-2020", "09-22-2021", "09-22-2022",
    "09-23-2020", "09-23-2021", "09-23-2022",
    "09-24-2020", "09-24-2021", "09-24-2022",
    "09-25-2020", "09-25-2021", "09-25-2022",
    "09-26-2020", "09-26-2021", "09-26-2022",
    "09-27-2020", "09-27-2021", "09-27-2022",
    "09-28-2020", "09-28-2021", "09-28-2022",
    "09-29-2020", "09-29-2021", "09-29-2022",
    "09-30-2020", "09-30-2021", "09-30-2022",
    "10-01-2020", "10-01-2021", "10-01-2022",
    "10-02-2020", "10-02-2021", "10-02-2022",
    "10-03-2020", "10-03-2021", "10-03-2022",
    "10-04-2020", "10-04-2021", "10-04-2022",
    "10-05-2020", "10-05-2021", "10-05-2022",
    "10-06-2020", "10-06-2021", "10-06-2022",
    "10-07-2020", "10-07-2021", "10-07-2022",
    "10-08-2020", "10-08-2021", "10-08-2022",
    "10-09-2020", "10-09-2021", "10-09-2022",
    "10-10-2020", "10-10-2021", "10-10-2022",
    "10-11-2020", "10-11-2021", "10-11-2022",
    "10-12-2020", "10-12-2021", "10-12-2022",
    "10-13-2020", "10-13-2021", "10-13-2022",
    "10-14-2020", "10-14-2021", "10-14-2022",
    "10-15-2020", "10-15-2021", "10-15-2022",
    "10-16-2020", "10-16-2021", "10-16-2022",
    "10-17-2020", "10-17-2021", "10-17-2022",
    "10-18-2020", "10-18-2021", "10-18-2022",
    "10-19-2020", "10-19-2021", "10-19-2022",
    "10-20-2020", "10-20-2021", "10-20-2022",
    "10-21-2020", "10-21-2021", "10-21-2022",
    "10-22-2020", "10-22-2021", "10-22-2022",
    "10-23-2020", "10-23-2021", "10-23-2022",
    "10-24-2020", "10-24-2021", "10-24-2022",
    "10-25-2020", "10-25-2021", "10-25-2022",
    "10-26-2020", "10-26-2021", "10-26-2022",
    "10-27-2020", "10-27-2021", "10-27-2022",
    "10-28-2020", "10-28-2021", "10-28-2022",
    "10-29-2020", "10-29-2021", "10-29-2022",
    "10-30-2020", "10-30-2021", "10-30-2022",
    "10-31-2020", "10-31-2021", "10-31-2022",
    "11-01-2020", "11-01-2021", "11-01-2022",
    "11-02-2020", "11-02-2021", "11-02-2022",
    "11-03-2020", "11-03-2021", "11-03-2022",
    "11-04-2020", "11-04-2021", "11-04-2022",
    "11-05-2020", "11-05-2021", "11-05-2022",
    "11-06-2020", "11-06-2021", "11-06-2022",
    "11-07-2020", "11-07-2021", "11-07-2022",
    "11-08-2020", "11-08-2021", "11-08-2022",
    "11-09-2020", "11-09-2021", "11-09-2022",
    "11-10-2020", "11-10-2021", "11-10-2022",
    "11-11-2020", "11-11-2021", "11-11-2022",
    "11-12-2020", "11-12-2021", "11-12-2022",
    "11-13-2020", "11-13-2021", "11-13-2022",
]

df_list = []

for date in dates:
    url = f"{the_base_url}{date}.csv"  
    try:
        temporary_df = pd.read_csv(url)  
        temporary_df["Date"] = pd.to_datetime(date, format="%m-%d-%Y")  
        df_list.append(temporary_df)
        print(f"Loaded {date}.csv successfully.")
    except Exception as e:
        print(f"Error loading this csv {date}.csv: {e}")


if df_list:
    df = pd.concat(df_list, ignore_index=True)
    print("CSV files merged successfully.")
    print(df.head())
else:
    print("No data was loaded :(.")

Loaded 01-01-2021.csv successfully.
Loaded 01-01-2022.csv successfully.
Loaded 01-01-2023.csv successfully.
Loaded 01-02-2021.csv successfully.
Loaded 01-02-2022.csv successfully.
Loaded 01-02-2023.csv successfully.
Loaded 01-03-2021.csv successfully.
Loaded 01-03-2022.csv successfully.
Loaded 01-03-2023.csv successfully.
Loaded 01-04-2021.csv successfully.
Loaded 01-04-2022.csv successfully.
Loaded 01-04-2023.csv successfully.
Loaded 01-05-2021.csv successfully.
Loaded 01-05-2022.csv successfully.
Loaded 01-05-2023.csv successfully.
Loaded 01-06-2021.csv successfully.
Loaded 01-06-2022.csv successfully.
Loaded 01-06-2023.csv successfully.
Loaded 01-07-2021.csv successfully.
Loaded 01-07-2022.csv successfully.
Loaded 01-07-2023.csv successfully.
Loaded 01-08-2021.csv successfully.
Loaded 01-08-2022.csv successfully.
Loaded 01-08-2023.csv successfully.
Loaded 01-09-2021.csv successfully.
Loaded 01-09-2022.csv successfully.
Loaded 01-09-2023.csv successfully.
Loaded 01-10-2021.csv successfully.
Loaded 01-10-2022.csv successfully.
Loaded 01-10-2023.csv successfully.
Loaded 01-11-2021.csv successfully.
Loaded 01-11-2022.csv successfully.
Loaded 01-11-2023.csv successfully.
Loaded 01-12-2021.csv successfully.
Loaded 01-12-2022.csv successfully.
Loaded 01-12-2023.csv successfully.
Loaded 01-13-2021.csv successfully.
Loaded 01-13-2022.csv successfully.
Loaded 01-13-2023.csv successfully.
Loaded 01-14-2021.csv successfully.
Loaded 01-14-2022.csv successfully.
Loaded 01-14-2023.csv successfully.
Loaded 01-15-2021.csv successfully.
Loaded 01-15-2022.csv successfully.
Loaded 01-15-2023.csv successfully.
Loaded 01-16-2021.csv successfully.
Loaded 01-16-2022.csv successfully.
Loaded 01-16-2023.csv successfully.
Loaded 01-17-2021.csv successfully.
Loaded 01-17-2022.csv successfully.
Loaded 01-17-2023.csv successfully.
Loaded 01-18-2021.csv successfully.
Loaded 01-18-2022.csv successfully.
Loaded 01-18-2023.csv successfully.
Loaded 01-19-2021.csv successfully.
Loaded 01-19-2022.csv successfully.
Loaded 01-19-2023.csv successfully.
Loaded 01-20-2021.csv successfully.
Loaded 01-20-2022.csv successfully.
Loaded 01-20-2023.csv successfully.
Loaded 01-21-2021.csv successfully.
Loaded 01-21-2022.csv successfully.
Loaded 01-21-2023.csv successfully.
Loaded 01-22-2020.csv successfully.
Loaded 01-22-2021.csv successfully.
Loaded 01-22-2022.csv successfully.
Loaded 01-22-2023.csv successfully.
Loaded 01-23-2020.csv successfully.
Loaded 01-23-2021.csv successfully.
Loaded 01-23-2022.csv successfully.
Loaded 01-23-2023.csv successfully.
Loaded 01-24-2020.csv successfully.
Loaded 01-24-2021.csv successfully.
Loaded 01-24-2022.csv successfully.
Loaded 01-24-2023.csv successfully.
Loaded 01-25-2020.csv successfully.
Loaded 01-25-2021.csv successfully.
Loaded 01-25-2022.csv successfully.
Loaded 01-25-2023.csv successfully.
Loaded 01-26-2020.csv successfully.
Loaded 01-26-2021.csv successfully.
Loaded 01-26-2022.csv successfully.
Loaded 01-26-2023.csv successfully.
Loaded 01-27-2020.csv successfully.
Loaded 01-27-2021.csv successfully.
Loaded 01-27-2022.csv successfully.
Loaded 01-27-2023.csv successfully.
Loaded 01-28-2020.csv successfully.
Loaded 01-28-2021.csv successfully.
Loaded 01-28-2022.csv successfully.
Loaded 01-28-2023.csv successfully.
Loaded 01-29-2020.csv successfully.
Loaded 01-29-2021.csv successfully.
Loaded 01-29-2022.csv successfully.
Loaded 01-29-2023.csv successfully.
Loaded 01-30-2020.csv successfully.
Loaded 01-30-2021.csv successfully.
Loaded 01-30-2022.csv successfully.
Loaded 01-30-2023.csv successfully.
Loaded 01-31-2020.csv successfully.
Loaded 01-31-2021.csv successfully.
Loaded 01-31-2022.csv successfully.
Loaded 01-31-2023.csv successfully.
Loaded 02-01-2020.csv successfully.
Loaded 02-01-2021.csv successfully.
Loaded 02-01-2022.csv successfully.
Loaded 02-01-2023.csv successfully.
Loaded 02-02-2020.csv successfully.
Loaded 02-02-2021.csv successfully.
Loaded 02-02-2022.csv successfully.
Loaded 02-02-2023.csv successfully.
Loaded 02-03-2020.csv successfully.
Loaded 02-03-2021.csv successfully.
Loaded 02-03-2022.csv successfully.
Loaded 02-03-2023.csv successfully.
Loaded 02-04-2020.csv successfully.
Loaded 02-04-2021.csv successfully.
Loaded 02-04-2022.csv successfully.
Loaded 02-04-2023.csv successfully.
Loaded 02-05-2020.csv successfully.
Loaded 02-05-2021.csv successfully.
Loaded 02-05-2022.csv successfully.
Loaded 02-05-2023.csv successfully.
Loaded 02-06-2020.csv successfully.
Loaded 02-06-2021.csv successfully.
Loaded 02-06-2022.csv successfully.
Loaded 02-06-2023.csv successfully.
Loaded 02-07-2020.csv successfully.
Loaded 02-07-2021.csv successfully.
Loaded 02-07-2022.csv successfully.
Loaded 02-07-2023.csv successfully.
Loaded 02-08-2020.csv successfully.
Loaded 02-08-2021.csv successfully.
Loaded 02-08-2022.csv successfully.
Loaded 02-08-2023.csv successfully.
Loaded 02-09-2020.csv successfully.
Loaded 02-09-2021.csv successfully.
Loaded 02-09-2022.csv successfully.
Loaded 02-09-2023.csv successfully.
Loaded 02-10-2020.csv successfully.
Loaded 02-10-2021.csv successfully.
Loaded 02-10-2022.csv successfully.
Loaded 02-10-2023.csv successfully.
Loaded 02-11-2020.csv successfully.
Loaded 02-11-2021.csv successfully.
Loaded 02-11-2022.csv successfully.
Loaded 02-11-2023.csv successfully.
Loaded 02-12-2020.csv successfully.
Loaded 02-12-2021.csv successfully.
Loaded 02-12-2022.csv successfully.
Loaded 02-12-2023.csv successfully.
Loaded 02-13-2020.csv successfully.
Loaded 02-13-2021.csv successfully.
Loaded 02-13-2022.csv successfully.
Loaded 02-13-2023.csv successfully.
Loaded 02-14-2020.csv successfully.
Loaded 02-14-2021.csv successfully.
Loaded 02-14-2022.csv successfully.
Loaded 02-14-2023.csv successfully.
Loaded 02-15-2020.csv successfully.
Loaded 02-15-2021.csv successfully.
Loaded 02-15-2022.csv successfully.
Loaded 02-15-2023.csv successfully.
Loaded 02-16-2020.csv successfully.
Loaded 02-16-2021.csv successfully.
Loaded 02-16-2022.csv successfully.
Loaded 02-16-2023.csv successfully.
Loaded 02-17-2020.csv successfully.
Loaded 02-17-2021.csv successfully.
Loaded 02-17-2022.csv successfully.
Loaded 02-17-2023.csv successfully.
Loaded 02-18-2020.csv successfully.
Loaded 02-18-2021.csv successfully.
Loaded 02-18-2022.csv successfully.
Loaded 02-18-2023.csv successfully.
Loaded 02-19-2020.csv successfully.
Loaded 02-19-2021.csv successfully.
Loaded 02-19-2022.csv successfully.
Loaded 02-19-2023.csv successfully.
Loaded 02-20-2020.csv successfully.
Loaded 02-20-2021.csv successfully.
Loaded 02-20-2022.csv successfully.
Loaded 02-20-2023.csv successfully.
Loaded 02-21-2020.csv successfully.
Loaded 02-21-2021.csv successfully.
Loaded 02-21-2022.csv successfully.
Loaded 02-21-2023.csv successfully.
Loaded 02-22-2020.csv successfully.
Loaded 02-22-2021.csv successfully.
Loaded 02-22-2022.csv successfully.
Loaded 02-22-2023.csv successfully.
Loaded 02-23-2020.csv successfully.
Loaded 02-23-2021.csv successfully.
Loaded 02-23-2022.csv successfully.
Loaded 02-23-2023.csv successfully.
Loaded 02-24-2020.csv successfully.
Loaded 02-24-2021.csv successfully.
Loaded 02-24-2022.csv successfully.
Loaded 02-24-2023.csv successfully.
Loaded 02-25-2020.csv successfully.
Loaded 02-25-2021.csv successfully.
Loaded 02-25-2022.csv successfully.
Loaded 02-25-2023.csv successfully.
Loaded 02-26-2020.csv successfully.
Loaded 02-26-2021.csv successfully.
Loaded 02-26-2022.csv successfully.
Loaded 02-26-2023.csv successfully.
Loaded 03-01-2020.csv successfully.
Loaded 03-01-2021.csv successfully.
Loaded 03-01-2022.csv successfully.
Loaded 03-01-2023.csv successfully.
Loaded 03-02-2020.csv successfully.
Loaded 03-02-2021.csv successfully.
Loaded 03-02-2022.csv successfully.
Loaded 03-02-2023.csv successfully.
Loaded 03-03-2020.csv successfully.
Loaded 03-03-2021.csv successfully.
Loaded 03-03-2022.csv successfully.
Loaded 03-03-2023.csv successfully.
Loaded 03-04-2020.csv successfully.
Loaded 03-04-2021.csv successfully.
Loaded 03-04-2022.csv successfully.
Loaded 03-04-2023.csv successfully.
Loaded 03-05-2020.csv successfully.
Loaded 03-05-2021.csv successfully.
Loaded 03-05-2022.csv successfully.
Loaded 03-05-2023.csv successfully.
Loaded 03-06-2020.csv successfully.
Loaded 03-06-2021.csv successfully.
Loaded 03-06-2022.csv successfully.
Loaded 03-06-2023.csv successfully.
Loaded 03-07-2020.csv successfully.
Loaded 03-07-2021.csv successfully.
Loaded 03-07-2022.csv successfully.
Loaded 03-07-2023.csv successfully.
Loaded 03-08-2020.csv successfully.
Loaded 03-08-2021.csv successfully.
Loaded 03-08-2022.csv successfully.
Loaded 03-08-2023.csv successfully.
Loaded 03-09-2020.csv successfully.
Loaded 03-09-2021.csv successfully.
Loaded 03-09-2022.csv successfully.
Loaded 03-09-2023.csv successfully.
Loaded 03-10-2020.csv successfully.
Loaded 03-10-2021.csv successfully.
Loaded 03-10-2022.csv successfully.
Loaded 03-11-2020.csv successfully.
Loaded 03-11-2021.csv successfully.
Loaded 03-11-2022.csv successfully.
Loaded 03-12-2020.csv successfully.
Loaded 03-12-2021.csv successfully.
Loaded 03-12-2022.csv successfully.
Loaded 03-13-2020.csv successfully.
Loaded 03-13-2021.csv successfully.
Loaded 03-13-2022.csv successfully.
Loaded 03-14-2020.csv successfully.
Loaded 03-14-2021.csv successfully.
Loaded 03-14-2022.csv successfully.
Loaded 03-15-2020.csv successfully.
Loaded 03-15-2021.csv successfully.
Loaded 03-15-2022.csv successfully.
Loaded 03-16-2020.csv successfully.
Loaded 03-16-2021.csv successfully.
Loaded 03-16-2022.csv successfully.
Loaded 03-17-2020.csv successfully.
Loaded 03-17-2021.csv successfully.
Loaded 03-17-2022.csv successfully.
Loaded 03-18-2020.csv successfully.
Loaded 03-18-2021.csv successfully.
Loaded 03-18-2022.csv successfully.
Loaded 03-19-2020.csv successfully.
Loaded 03-19-2021.csv successfully.
Loaded 03-19-2022.csv successfully.
Loaded 03-20-2020.csv successfully.
Loaded 03-20-2021.csv successfully.
Loaded 03-20-2022.csv successfully.
Loaded 03-21-2020.csv successfully.
Loaded 03-21-2021.csv successfully.
Loaded 03-21-2022.csv successfully.
Loaded 03-22-2020.csv successfully.
Loaded 03-22-2021.csv successfully.
Loaded 03-22-2022.csv successfully.
Loaded 03-23-2020.csv successfully.
Loaded 03-23-2021.csv successfully.
Loaded 03-23-2022.csv successfully.
Loaded 03-24-2020.csv successfully.
Loaded 03-24-2021.csv successfully.
Loaded 03-24-2022.csv successfully.
Loaded 03-25-2020.csv successfully.
Loaded 03-25-2021.csv successfully.
Loaded 03-25-2022.csv successfully.
Loaded 03-26-2020.csv successfully.
Loaded 03-26-2021.csv successfully.
Loaded 03-26-2022.csv successfully.
Loaded 03-27-2020.csv successfully.
Loaded 03-27-2021.csv successfully.
Loaded 03-27-2022.csv successfully.
Loaded 03-28-2020.csv successfully.
Loaded 03-28-2021.csv successfully.
Loaded 03-28-2022.csv successfully.
Loaded 03-29-2020.csv successfully.
Loaded 03-29-2021.csv successfully.
Loaded 03-29-2022.csv successfully.
Loaded 03-30-2020.csv successfully.
Loaded 03-30-2021.csv successfully.
Loaded 03-30-2022.csv successfully.
Loaded 03-31-2020.csv successfully.
Loaded 03-31-2021.csv successfully.
Loaded 03-31-2022.csv successfully.
Loaded 04-01-2020.csv successfully.
Loaded 04-01-2021.csv successfully.
Loaded 04-01-2022.csv successfully.
Loaded 04-02-2020.csv successfully.
Loaded 04-02-2021.csv successfully.
Loaded 04-02-2022.csv successfully.
Loaded 04-03-2020.csv successfully.
Loaded 04-03-2021.csv successfully.
Loaded 04-03-2022.csv successfully.
Loaded 04-04-2020.csv successfully.
Loaded 04-04-2021.csv successfully.
Loaded 04-04-2022.csv successfully.
Loaded 04-05-2020.csv successfully.
Loaded 04-05-2021.csv successfully.
Loaded 04-05-2022.csv successfully.
Loaded 04-06-2020.csv successfully.
Loaded 04-06-2021.csv successfully.
Loaded 04-06-2022.csv successfully.
Loaded 04-07-2020.csv successfully.
Loaded 04-07-2021.csv successfully.
Loaded 04-07-2022.csv successfully.
Loaded 04-08-2020.csv successfully.
Loaded 04-08-2021.csv successfully.
Loaded 04-08-2022.csv successfully.
Loaded 04-09-2020.csv successfully.
Loaded 04-09-2021.csv successfully.
Loaded 04-09-2022.csv successfully.
Loaded 04-10-2020.csv successfully.
Loaded 04-10-2021.csv successfully.
Loaded 04-10-2022.csv successfully.
Loaded 04-11-2020.csv successfully.
Loaded 04-11-2021.csv successfully.
Loaded 04-11-2022.csv successfully.
Loaded 04-12-2020.csv successfully.
Loaded 04-12-2021.csv successfully.
Loaded 04-12-2022.csv successfully.
Loaded 04-13-2020.csv successfully.
Loaded 04-13-2021.csv successfully.
Loaded 04-13-2022.csv successfully.
Loaded 04-14-2020.csv successfully.
Loaded 04-14-2021.csv successfully.
Loaded 04-14-2022.csv successfully.
Loaded 04-15-2020.csv successfully.
Loaded 04-15-2021.csv successfully.
Loaded 04-15-2022.csv successfully.
Loaded 04-16-2020.csv successfully.
Loaded 04-16-2021.csv successfully.
Loaded 04-16-2022.csv successfully.
Loaded 04-17-2020.csv successfully.
Loaded 04-17-2021.csv successfully.
Loaded 04-17-2022.csv successfully.
Loaded 04-18-2020.csv successfully.
Loaded 04-18-2021.csv successfully.
Loaded 04-18-2022.csv successfully.
Loaded 04-19-2020.csv successfully.
Loaded 04-19-2021.csv successfully.
Loaded 04-19-2022.csv successfully.
Loaded 04-20-2020.csv successfully.
Loaded 04-20-2021.csv successfully.
Loaded 04-20-2022.csv successfully.
Loaded 04-21-2020.csv successfully.
Loaded 04-21-2021.csv successfully.
Loaded 04-21-2022.csv successfully.
Loaded 04-22-2020.csv successfully.
Loaded 04-22-2021.csv successfully.
Loaded 04-22-2022.csv successfully.
Loaded 04-23-2020.csv successfully.
Loaded 04-23-2021.csv successfully.
Loaded 04-23-2022.csv successfully.
Loaded 04-24-2020.csv successfully.
Loaded 04-24-2021.csv successfully.
Loaded 04-24-2022.csv successfully.
Loaded 04-25-2020.csv successfully.
Loaded 04-25-2021.csv successfully.
Loaded 04-25-2022.csv successfully.
Loaded 04-26-2020.csv successfully.
Loaded 04-26-2021.csv successfully.
Loaded 04-26-2022.csv successfully.
Loaded 04-27-2020.csv successfully.
Loaded 04-27-2021.csv successfully.
Loaded 04-27-2022.csv successfully.
Loaded 04-28-2020.csv successfully.
Loaded 04-28-2021.csv successfully.
Loaded 04-28-2022.csv successfully.
Loaded 04-29-2020.csv successfully.
Loaded 04-29-2021.csv successfully.
Loaded 04-29-2022.csv successfully.
Loaded 04-30-2020.csv successfully.
Loaded 04-30-2021.csv successfully.
Loaded 04-30-2022.csv successfully.
Loaded 05-01-2020.csv successfully.
Loaded 05-01-2021.csv successfully.
Loaded 05-01-2022.csv successfully.
Loaded 05-02-2020.csv successfully.
Loaded 05-02-2021.csv successfully.
Loaded 05-02-2022.csv successfully.
Loaded 05-03-2020.csv successfully.
Loaded 05-03-2021.csv successfully.
Loaded 05-03-2022.csv successfully.
Loaded 05-04-2020.csv successfully.
Loaded 05-04-2021.csv successfully.
Loaded 05-04-2022.csv successfully.
Loaded 05-05-2020.csv successfully.
Loaded 05-05-2021.csv successfully.
Loaded 05-05-2022.csv successfully.
Loaded 05-06-2020.csv successfully.
Loaded 05-06-2021.csv successfully.
Loaded 05-06-2022.csv successfully.
Loaded 05-07-2020.csv successfully.
Loaded 05-07-2021.csv successfully.
Loaded 05-07-2022.csv successfully.
Loaded 05-08-2020.csv successfully.
Loaded 05-08-2021.csv successfully.
Loaded 05-08-2022.csv successfully.
Loaded 05-09-2020.csv successfully.
Loaded 05-09-2021.csv successfully.
Loaded 05-09-2022.csv successfully.
Loaded 05-10-2020.csv successfully.
Loaded 05-10-2021.csv successfully.
Loaded 05-10-2022.csv successfully.
Loaded 05-11-2020.csv successfully.
Loaded 05-11-2021.csv successfully.
Loaded 05-11-2022.csv successfully.
Loaded 05-12-2020.csv successfully.
Loaded 05-12-2021.csv successfully.
Loaded 05-12-2022.csv successfully.
Loaded 05-13-2020.csv successfully.
Loaded 05-13-2021.csv successfully.
Loaded 05-13-2022.csv successfully.
Loaded 05-14-2020.csv successfully.
Loaded 05-14-2021.csv successfully.
Loaded 05-14-2022.csv successfully.
Loaded 05-15-2020.csv successfully.
Loaded 05-15-2021.csv successfully.
Loaded 05-15-2022.csv successfully.
Loaded 05-16-2020.csv successfully.
Loaded 05-16-2021.csv successfully.
Loaded 05-16-2022.csv successfully.
Loaded 05-17-2020.csv successfully.
Loaded 05-17-2021.csv successfully.
Loaded 05-17-2022.csv successfully.
Loaded 05-18-2020.csv successfully.
Loaded 05-18-2021.csv successfully.
Loaded 05-18-2022.csv successfully.
Loaded 05-19-2020.csv successfully.
Loaded 05-19-2021.csv successfully.
Loaded 05-19-2022.csv successfully.
Loaded 05-20-2020.csv successfully.
Loaded 05-20-2021.csv successfully.
Loaded 05-20-2022.csv successfully.
Loaded 05-21-2020.csv successfully.
Loaded 05-21-2021.csv successfully.
Loaded 05-21-2022.csv successfully.
Loaded 05-22-2020.csv successfully.
Loaded 05-22-2021.csv successfully.
Loaded 05-22-2022.csv successfully.
Loaded 05-23-2020.csv successfully.
Loaded 05-23-2021.csv successfully.
Loaded 05-23-2022.csv successfully.
Loaded 05-24-2020.csv successfully.
Loaded 05-24-2021.csv successfully.
Loaded 05-24-2022.csv successfully.
Loaded 05-25-2020.csv successfully.
Loaded 05-25-2021.csv successfully.
Loaded 05-25-2022.csv successfully.
Loaded 05-26-2020.csv successfully.
Loaded 05-26-2021.csv successfully.
Loaded 05-26-2022.csv successfully.
Loaded 05-27-2020.csv successfully.
Loaded 05-27-2021.csv successfully.
Loaded 05-27-2022.csv successfully.
Loaded 05-28-2020.csv successfully.
Loaded 05-28-2021.csv successfully.
Loaded 05-28-2022.csv successfully.
Loaded 05-29-2020.csv successfully.
Loaded 05-29-2021.csv successfully.
Loaded 05-29-2022.csv successfully.
Loaded 05-30-2020.csv successfully.
Loaded 05-30-2021.csv successfully.
Loaded 05-30-2022.csv successfully.
Loaded 05-31-2020.csv successfully.
Loaded 05-31-2021.csv successfully.
Loaded 05-31-2022.csv successfully.
Loaded 06-01-2020.csv successfully.
Loaded 06-01-2021.csv successfully.
Loaded 06-01-2022.csv successfully.
Loaded 06-02-2020.csv successfully.
Loaded 06-02-2021.csv successfully.
Loaded 06-02-2022.csv successfully.
Loaded 06-03-2020.csv successfully.
Loaded 06-03-2021.csv successfully.
Loaded 06-03-2022.csv successfully.
Loaded 06-04-2020.csv successfully.
Loaded 06-04-2021.csv successfully.
Loaded 06-04-2022.csv successfully.
Loaded 06-05-2020.csv successfully.
Loaded 06-05-2021.csv successfully.
Loaded 06-05-2022.csv successfully.
Loaded 06-06-2020.csv successfully.
Loaded 06-06-2021.csv successfully.
Loaded 06-06-2022.csv successfully.
Loaded 06-07-2020.csv successfully.
Loaded 06-07-2021.csv successfully.
Loaded 06-07-2022.csv successfully.
Loaded 06-08-2020.csv successfully.
Loaded 06-08-2021.csv successfully.
Loaded 06-08-2022.csv successfully.
Loaded 06-09-2020.csv successfully.
Loaded 06-09-2021.csv successfully.
Loaded 06-09-2022.csv successfully.
Loaded 06-10-2020.csv successfully.
Loaded 06-10-2021.csv successfully.
Loaded 06-10-2022.csv successfully.
Loaded 06-11-2020.csv successfully.
Loaded 06-11-2021.csv successfully.
Loaded 06-11-2022.csv successfully.
Loaded 06-12-2020.csv successfully.
Loaded 06-12-2021.csv successfully.
Loaded 06-12-2022.csv successfully.
Loaded 06-13-2020.csv successfully.
Loaded 06-13-2021.csv successfully.
Loaded 06-13-2022.csv successfully.
Loaded 06-14-2020.csv successfully.
Loaded 06-14-2021.csv successfully.
Loaded 06-14-2022.csv successfully.
Loaded 06-15-2020.csv successfully.
Loaded 06-15-2021.csv successfully.
Loaded 06-15-2022.csv successfully.
Loaded 06-16-2020.csv successfully.
Loaded 06-16-2021.csv successfully.
Loaded 06-16-2022.csv successfully.
Loaded 06-17-2020.csv successfully.
Loaded 06-17-2021.csv successfully.
Loaded 06-17-2022.csv successfully.
Loaded 06-18-2020.csv successfully.
Loaded 06-18-2021.csv successfully.
Loaded 06-18-2022.csv successfully.
Loaded 06-19-2020.csv successfully.
Loaded 06-19-2021.csv successfully.
Loaded 06-19-2022.csv successfully.
Loaded 06-20-2020.csv successfully.
Loaded 06-20-2021.csv successfully.
Loaded 06-20-2022.csv successfully.
Loaded 06-21-2020.csv successfully.
Loaded 06-21-2021.csv successfully.
Loaded 06-21-2022.csv successfully.

In [3]:
m = df.isnull().sum()
print(m)

FIPS                    676551
Admin2                  672428
Province_State          176990
Country_Region            9349
Last_Update               9349
Lat                      90368
Long_                    90368
Confirmed                   28
Deaths                     433
Recovered              2435330
Active                 2444295
Combined_Key              9349
Incident_Rate           938848
Case_Fatality_Ratio     904540
Date                         0
Province/State         3691085
Country/Region         3687550
Last Update            3687550
Latitude               3691407
Longitude              3691407
Incidence_Rate         3062925
Case-Fatality_Ratio    3059416
dtype: int64

In [4]:
df.columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio', 'Date',
       'Province/State', 'Country/Region', 'Last Update', 'Latitude',
       'Longitude', 'Incidence_Rate', 'Case-Fatality_Ratio'],
      dtype='object')

In [5]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,...,Incident_Rate,Case_Fatality_Ratio,Date,Province/State,Country/Region,Last Update,Latitude,Longitude,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513.0,2201.0,41727.0,...,134.896578,4.191343,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316.0,1181.0,33634.0,...,2026.409062,2.025173,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897.0,2762.0,67395.0,...,227.809861,2.764848,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117.0,84.0,7463.0,...,10505.403482,1.034865,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568.0,405.0,11146.0,...,53.452981,2.305328,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
print(df[['Lat', 'Latitude']].dropna().head(10))
print(df[['Long_', 'Longitude']].dropna().head(10))

Empty DataFrame
Columns: [Lat, Latitude]
Index: []
Empty DataFrame
Columns: [Long_, Longitude]
Index: []

In [7]:
# df.columns[df.columns.duplicated()]

In [8]:
print(df.columns[df.columns.duplicated()])

Index([], dtype='object')

In [9]:
df.drop(columns=['Latitude', 'Longitude'], inplace=True)

In [10]:
df.columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio', 'Date',
       'Province/State', 'Country/Region', 'Last Update', 'Incidence_Rate',
       'Case-Fatality_Ratio'],
      dtype='object')

In [11]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Date,Province/State,Country/Region,Last Update,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513.0,2201.0,41727.0,8585.0,Afghanistan,134.896578,4.191343,2021-01-01,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316.0,1181.0,33634.0,23501.0,Albania,2026.409062,2.025173,2021-01-01,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897.0,2762.0,67395.0,29740.0,Algeria,227.809861,2.764848,2021-01-01,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117.0,84.0,7463.0,570.0,Andorra,10505.403482,1.034865,2021-01-01,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568.0,405.0,11146.0,6017.0,Angola,53.452981,2.305328,2021-01-01,NaN,NaN,NaN,NaN,NaN

In [12]:
df.drop(columns=['Province/State', 'Country/Region', 'Last Update', 'Case-Fatality_Ratio'], inplace=True, errors='ignore')

In [13]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Date,Incidence_Rate
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513.0,2201.0,41727.0,8585.0,Afghanistan,134.896578,4.191343,2021-01-01,NaN
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316.0,1181.0,33634.0,23501.0,Albania,2026.409062,2.025173,2021-01-01,NaN
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897.0,2762.0,67395.0,29740.0,Algeria,227.809861,2.764848,2021-01-01,NaN
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117.0,84.0,7463.0,570.0,Andorra,10505.403482,1.034865,2021-01-01,NaN
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568.0,405.0,11146.0,6017.0,Angola,53.452981,2.305328,2021-01-01,NaN

In [14]:
df[['Province_State', 'Province_State']].dropna().head()

                  Province_State                Province_State
8   Australian Capital Territory  Australian Capital Territory
9                New South Wales               New South Wales
10            Northern Territory            Northern Territory
11                    Queensland                    Queensland
12               South Australia               South Australia

In [15]:
unknown_count = (df['Province_State'] == "Unknown").sum()
print("Number of 'Unknown' values:", unknown_count)

non_unknown_count = (df['Province_State'] != "Unknown").sum()
print("Number of values that are NOT 'Unknown':", non_unknown_count)

Number of 'Unknown' values: 12037
Number of values that are NOT 'Unknown': 3684862

In [16]:
print(df[['Incident_Rate', 'Incidence_Rate']].head(10))  
are_identical = df['Incident_Rate'].equals(df['Incidence_Rate'])
print("Are the two columns identical?", are_identical)

   Incident_Rate  Incidence_Rate
0     134.896578             NaN
1    2026.409062             NaN
2     227.809861             NaN
3   10505.403482             NaN
4      53.452981             NaN
5     162.364186             NaN
6    3605.633332             NaN
7    5390.664389             NaN
8      27.563653             NaN
9      60.938655             NaN
Are the two columns identical? False

In [17]:
print(df['Incidence_Rate'].nunique()) 
print(df['Incidence_Rate'].value_counts())

430461
Incidence_Rate
0.000000      5180
373.241459     166
1.041283       165
0.303851       165
0.027412       165
              ...
94.039958        1
18.158547        1
178.362573       1
987.927565       1
182.925280       1
Name: count, Length: 430461, dtype: int64

In [18]:
df.drop(columns=['Incidence_Rate'], inplace=True)

In [19]:
print("Unique values in Country_Region:", df['Country_Region'].nunique())
print("Unique values in Combined_Key:", df['Combined_Key'].nunique())

Unique values in Country_Region: 202
Unique values in Combined_Key: 4164

In [20]:
df.columns.value_counts()

FIPS                   1
Admin2                 1
Province_State         1
Country_Region         1
Last_Update            1
Lat                    1
Long_                  1
Confirmed              1
Deaths                 1
Recovered              1
Active                 1
Combined_Key           1
Incident_Rate          1
Case_Fatality_Ratio    1
Date                   1
Name: count, dtype: int64

In [21]:
df = df.loc[:, ~df.columns.duplicated()]
df.columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio', 'Date'],
      dtype='object')

In [22]:
df.isnull().sum()

FIPS                    676551
Admin2                  672428
Province_State          176990
Country_Region            9349
Last_Update               9349
Lat                      90368
Long_                    90368
Confirmed                   28
Deaths                     433
Recovered              2435330
Active                 2444295
Combined_Key              9349
Incident_Rate           938848
Case_Fatality_Ratio     904540
Date                         0
dtype: int64

In [23]:
def analyze_df(df, head_rows=5):
    print(f"1. First {head_rows} rows of data:\n")
    display(df.head())

    print(f"\n 2. Data Info:\n")
    display(df.info())

    print(f"\n 3. Description of Data:\n")
    display(df.describe().transpose())

    print(f" 4. Missing Values: \n")
    missing_values = df.isnull().sum()
    display(missing_values)

In [24]:
analyze_df(df, head_rows=5)

1. First 5 rows of data:

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Date
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513.0,2201.0,41727.0,8585.0,Afghanistan,134.896578,4.191343,2021-01-01
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316.0,1181.0,33634.0,23501.0,Albania,2026.409062,2.025173,2021-01-01
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897.0,2762.0,67395.0,29740.0,Algeria,227.809861,2.764848,2021-01-01
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117.0,84.0,7463.0,570.0,Andorra,10505.403482,1.034865,2021-01-01
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568.0,405.0,11146.0,6017.0,Angola,53.452981,2.305328,2021-01-01

 2. Data Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3696899 entries, 0 to 3696898
Data columns (total 15 columns):
 #   Column               Dtype
---  ------               -----
 0   FIPS                 float64
 1   Admin2               object
 2   Province_State       object
 3   Country_Region       object
 4   Last_Update          object
 5   Lat                  float64
 6   Long_                float64
 7   Confirmed            float64
 8   Deaths               float64
 9   Recovered            float64
 10  Active               float64
 11  Combined_Key         object
 12  Incident_Rate        float64
 13  Case_Fatality_Ratio  float64
 14  Date                 datetime64[ns]
dtypes: datetime64[ns](1), float64(9), object(5)
memory usage: 423.1+ MB

None

 3. Description of Data:

,count,mean,min,25%,50%,75%,max,std
FIPS,3020348.0,32271.114613,60.0,19039.0,30055.0,47027.0,99999.0,17928.634522
Lat,3606531.0,35.783171,-71.9499,33.223191,37.892021,42.121186,71.7069,13.28035
Long_,3606531.0,-71.682699,-178.1165,-96.566564,-86.853681,-77.634518,178.065,54.657123
Confirmed,3696871.0,72503.520608,-302844.0,698.0,3543.0,15426.0,38618509.0,576296.615677
Deaths,3696466.0,1013.971218,-178.0,9.0,55.0,216.0,186138.0,6344.721589
Recovered,1261569.0,16998.839383,-854405.0,0.0,0.0,0.0,6117560.0,137947.683175
Active,1252604.0,7410.581294,0.0,39.0,351.0,1925.0,5658278.0,82568.685533
Incident_Rate,2758051.0,17334.765807,0.0,9002.927858,15478.858682,25720.762784,1239511.494253,10824.882992
Case_Fatality_Ratio,2792359.0,2.747958,0.0,1.01083,1.484716,2.088856,29600.0,65.856644
Date,3696899,2021-09-07 17:23:27.776733184,2020-01-22 00:00:00,2021-01-08 00:00:00,2021-08-28 00:00:00,2022-06-03 00:00:00,2023-03-09 00:00:00,NaN

 4. Missing Values:

FIPS                    676551
Admin2                  672428
Province_State          176990
Country_Region            9349
Last_Update               9349
Lat                      90368
Long_                    90368
Confirmed                   28
Deaths                     433
Recovered              2435330
Active                 2444295
Combined_Key              9349
Incident_Rate           938848
Case_Fatality_Ratio     904540
Date                         0
dtype: int64

In [25]:
dup = df.duplicated().sum()
print(dup)

16640

In [26]:
df = df.drop_duplicates()

In [27]:
dup = df.duplicated().sum()
print(dup)

0

In [28]:
print(df.head())

   FIPS Admin2 Province_State Country_Region          Last_Update       Lat  \
0   NaN    NaN            NaN    Afghanistan  2021-01-02 05:22:33  33.93911
1   NaN    NaN            NaN        Albania  2021-01-02 05:22:33  41.15330
2   NaN    NaN            NaN        Algeria  2021-01-02 05:22:33  28.03390
3   NaN    NaN            NaN        Andorra  2021-01-02 05:22:33  42.50630
4   NaN    NaN            NaN         Angola  2021-01-02 05:22:33 -11.20270

       Long_  Confirmed  Deaths  Recovered   Active Combined_Key  \
0  67.709953    52513.0  2201.0    41727.0   8585.0  Afghanistan
1  20.168300    58316.0  1181.0    33634.0  23501.0      Albania
2   1.659600    99897.0  2762.0    67395.0  29740.0      Algeria
3   1.521800     8117.0    84.0     7463.0    570.0      Andorra
4  17.873900    17568.0   405.0    11146.0   6017.0       Angola

   Incident_Rate  Case_Fatality_Ratio       Date
0     134.896578             4.191343 2021-01-01
1    2026.409062             2.025173 2021-01-01
2     227.809861             2.764848 2021-01-01
3   10505.403482             1.034865 2021-01-01
4      53.452981             2.305328 2021-01-01

In [29]:
print(df.isnull().sum())

FIPS                    669706
Admin2                  665597
Province_State          171836
Country_Region            4729
Last_Update               4729
Lat                      85484
Long_                    85484
Confirmed                   10
Deaths                     252
Recovered              2427150
Active                 2431677
Combined_Key              4729
Incident_Rate           930054
Case_Fatality_Ratio     895846
Date                         0
dtype: int64

In [30]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Date
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513.0,2201.0,41727.0,8585.0,Afghanistan,134.896578,4.191343,2021-01-01
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316.0,1181.0,33634.0,23501.0,Albania,2026.409062,2.025173,2021-01-01
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897.0,2762.0,67395.0,29740.0,Algeria,227.809861,2.764848,2021-01-01
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117.0,84.0,7463.0,570.0,Andorra,10505.403482,1.034865,2021-01-01
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568.0,405.0,11146.0,6017.0,Angola,53.452981,2.305328,2021-01-01

In [31]:
df.loc[:, "Province_State"] = df["Province_State"].fillna("Unknown")
print("Filled missing Province_State with 'Unknown' because many countries don't have states.")

Filled missing Province_State with 'Unknown' because many countries don't have states.

In [32]:
print(df.isnull().sum())

FIPS                    669706
Admin2                  665597
Province_State               0
Country_Region            4729
Last_Update               4729
Lat                      85484
Long_                    85484
Confirmed                   10
Deaths                     252
Recovered              2427150
Active                 2431677
Combined_Key              4729
Incident_Rate           930054
Case_Fatality_Ratio     895846
Date                         0
dtype: int64

In [33]:
df.loc[:, "Country_Region"] = df["Country_Region"].fillna("Unknown")
print("Filled missing Country_Region with 'Unknown'. This column is critical, if we don't have it, there is no particular use for it.")

Filled missing Country_Region with 'Unknown'. This column is critical, if we don't have it, there is no particular use for it.

In [34]:
df.loc[:,"Last_Update"] = df["Last_Update"].fillna("Date")
print("Filled missing Last_Update using Date.")

Filled missing Last_Update using Date.

In [35]:
print(df.isnull().sum())

FIPS                    669706
Admin2                  665597
Province_State               0
Country_Region               0
Last_Update                  0
Lat                      85484
Long_                    85484
Confirmed                   10
Deaths                     252
Recovered              2427150
Active                 2431677
Combined_Key              4729
Incident_Rate           930054
Case_Fatality_Ratio     895846
Date                         0
dtype: int64

In [36]:
df.loc[:, "Lat"] = df["Lat"].fillna(
    df.groupby("Province_State")["Lat"].transform("median")
)
df.loc[:, "Long_"] = df["Long_"].fillna(
    df.groupby("Province_State")["Long_"].transform("median")
)
print("Filled missing Latitude and Longitude using Province_State median.")

Filled missing Latitude and Longitude using Province_State median.

In [37]:
print(df.isnull().sum())

FIPS                    669706
Admin2                  665597
Province_State               0
Country_Region               0
Last_Update                  0
Lat                       1564
Long_                     1564
Confirmed                   10
Deaths                     252
Recovered              2427150
Active                 2431677
Combined_Key              4729
Incident_Rate           930054
Case_Fatality_Ratio     895846
Date                         0
dtype: int64

In [38]:
print(df[df["Lat"].isnull()][["Province_State", "Country_Region"]].value_counts())

Province_State          Country_Region
Port Quarantine         Japan             866
Repatriated Travellers  Canada            696
Jervis Bay Territory    Australia           1
External territories    Australia           1
Name: count, dtype: int64

In [39]:
df.loc[:, "Lat"] = df["Lat"].fillna(
    df.groupby("Country_Region")["Lat"].transform("median")
)
df.loc[:, "Long_"] = df["Long_"].fillna(
    df.groupby("Country_Region")["Long_"].transform("median")
)
print("Filled missing Latitude and Longitude using Country_Region median.")

Filled missing Latitude and Longitude using Country_Region median.

In [40]:
print(df.isnull().sum())

FIPS                    669706
Admin2                  665597
Province_State               0
Country_Region               0
Last_Update                  0
Lat                          0
Long_                        0
Confirmed                   10
Deaths                     252
Recovered              2427150
Active                 2431677
Combined_Key              4729
Incident_Rate           930054
Case_Fatality_Ratio     895846
Date                         0
dtype: int64

In [41]:
print(df.isnull().sum() / len(df) * 100)

FIPS                   18.197252
Admin2                 18.085602
Province_State          0.000000
Country_Region          0.000000
Last_Update             0.000000
Lat                     0.000000
Long_                   0.000000
Confirmed               0.000272
Deaths                  0.006847
Recovered              65.950521
Active                 66.073529
Combined_Key            0.128496
Incident_Rate          25.271428
Case_Fatality_Ratio    24.341928
Date                    0.000000
dtype: float64

In [42]:
# df = df.dropna(subset=["Latitude", "Longitude"])
# print("Dropped rows where Latitude or Longitude was missing.")

In [43]:
df.loc[:, "Combined_Key"] = df["Combined_Key"].fillna(
    df["Province_State"] + ", " + df["Country_Region"]
)
print("Filled missing Combined_Key using Province_State and Country_Region.")

Filled missing Combined_Key using Province_State and Country_Region.

In [44]:
print(df.isnull().sum())

FIPS                    669706
Admin2                  665597
Province_State               0
Country_Region               0
Last_Update                  0
Lat                          0
Long_                        0
Confirmed                   10
Deaths                     252
Recovered              2427150
Active                 2431677
Combined_Key                 0
Incident_Rate           930054
Case_Fatality_Ratio     895846
Date                         0
dtype: int64

In [45]:
df["Incident_Rate"] = df["Incident_Rate"].fillna(df["Incident_Rate"].median())
print("Filled missing Incidence_Rate with median value.")

Filled missing Incidence_Rate with median value.

In [46]:
print(df.isnull().sum())

FIPS                    669706
Admin2                  665597
Province_State               0
Country_Region               0
Last_Update                  0
Lat                          0
Long_                        0
Confirmed                   10
Deaths                     252
Recovered              2427150
Active                 2431677
Combined_Key                 0
Incident_Rate                0
Case_Fatality_Ratio     895846
Date                         0
dtype: int64

In [47]:
print(df.isnull().sum() / len(df) * 100)

FIPS                   18.197252
Admin2                 18.085602
Province_State          0.000000
Country_Region          0.000000
Last_Update             0.000000
Lat                     0.000000
Long_                   0.000000
Confirmed               0.000272
Deaths                  0.006847
Recovered              65.950521
Active                 66.073529
Combined_Key            0.000000
Incident_Rate           0.000000
Case_Fatality_Ratio    24.341928
Date                    0.000000
dtype: float64

In [48]:
print("Number of non-null FIPS codes:", df['FIPS'].notna().sum())
print(df['FIPS'].dropna().head(10)) 
print(df[['FIPS', 'Country_Region', 'Province_State']].dropna().head(10))

Number of non-null FIPS codes: 3010553
648    1001.0
649    1003.0
650    1005.0
651    1007.0
652    1009.0
653    1011.0
654    1013.0
655    1015.0
656    1017.0
657    1019.0
Name: FIPS, dtype: float64
       FIPS Country_Region Province_State
648  1001.0             US        Alabama
649  1003.0             US        Alabama
650  1005.0             US        Alabama
651  1007.0             US        Alabama
652  1009.0             US        Alabama
653  1011.0             US        Alabama
654  1013.0             US        Alabama
655  1015.0             US        Alabama
656  1017.0             US        Alabama
657  1019.0             US        Alabama

In [49]:
# Fill in FIPS data 
fips_url = "https://raw.githubusercontent.com/kjhealy/fips-codes/master/state_and_county_fips_master.csv"
fips_mapping = pd.read_csv(fips_url)
print(fips_mapping.head())

   fips            name state
0     0   UNITED STATES   NaN
1  1000         ALABAMA   NaN
2  1001  Autauga County    AL
3  1003  Baldwin County    AL
4  1005  Barbour County    AL

In [50]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Date
0,NaN,NaN,Unknown,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513.0,2201.0,41727.0,8585.0,Afghanistan,134.896578,4.191343,2021-01-01
1,NaN,NaN,Unknown,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316.0,1181.0,33634.0,23501.0,Albania,2026.409062,2.025173,2021-01-01
2,NaN,NaN,Unknown,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897.0,2762.0,67395.0,29740.0,Algeria,227.809861,2.764848,2021-01-01
3,NaN,NaN,Unknown,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117.0,84.0,7463.0,570.0,Andorra,10505.403482,1.034865,2021-01-01
4,NaN,NaN,Unknown,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568.0,405.0,11146.0,6017.0,Angola,53.452981,2.305328,2021-01-01

In [51]:
df['FIPS'] = df['FIPS'].astype('Int64')

In [52]:
fips_mapping['fips'] = fips_mapping['fips'].astype('Int64')

In [53]:
missing_fips_list = df[~df['FIPS'].isin(fips_mapping['fips'])]
print("Total FIPS codes in dataset that are missing from GitHub:", len(missing_fips_list))
print(missing_fips_list[['FIPS', 'Province_State']].head(10))

Total FIPS codes in dataset that are missing from GitHub: 801237
   FIPS                Province_State
0  <NA>                       Unknown
1  <NA>                       Unknown
2  <NA>                       Unknown
3  <NA>                       Unknown
4  <NA>                       Unknown
5  <NA>                       Unknown
6  <NA>                       Unknown
7  <NA>                       Unknown
8  <NA>  Australian Capital Territory
9  <NA>               New South Wales

In [54]:
print(df['Country_Region'].value_counts().head(20))

Country_Region
US                3020805
Russia              71617
Japan               42450
China               31722
India               31593
Colombia            29452
Mexico              28725
Ukraine             24278
Brazil              23676
Peru                22583
Italy               18533
Sweden              18093
United Kingdom      17693
Spain               17648
Malaysia            15861
Germany             15013
Chile               14917
Canada              14712
Netherlands         14446
France              10942
Name: count, dtype: int64

In [55]:
# Keeping only US data

In [56]:
df_us = df[df['Country_Region'] == "US"].copy()

In [57]:
print(df_us['Country_Region'].value_counts())

Country_Region
US    3020805
Name: count, dtype: int64

In [58]:
print("Original dataset shape:", df.shape)  
print("Filtered U.S. dataset shape:", df_us.shape)

Original dataset shape: (3680259, 15)
Filtered U.S. dataset shape: (3020805, 15)

In [59]:
df_us.reset_index(drop=True, inplace=True)

In [60]:
print(df_us.sample(10))

          FIPS     Admin2  Province_State Country_Region          Last_Update  \
2831707  20205     Wilson          Kansas             US  2022-10-26 04:22:19
943636   48245  Jefferson           Texas             US  2020-04-14 23:33:31
2554612  45047  Greenwood  South Carolina             US  2021-09-28 04:21:28
915962   16061      Lewis           Idaho             US  2020-04-11 22:45:33
2905527  48135      Ector           Texas             US  2020-11-03 06:00:16
2335002  72029  Canovanas     Puerto Rico             US  2020-09-06 04:28:33
730925   55135    Waupaca       Wisconsin             US        3/22/20 23:45
2863330  54033   Harrison   West Virginia             US  2022-10-29 04:21:13
1283685  31043     Dakota        Nebraska             US  2020-05-21 02:32:48
1108352   1049     DeKalb         Alabama             US  2022-05-02 04:21:10

               Lat       Long_  Confirmed  Deaths  Recovered  Active  \
2831707  37.559372  -95.743233     3224.0    51.0        NaN     NaN
943636   29.883278  -94.164342        5.0     6.0        0.0   128.0
2554612  34.152724  -82.127158    11200.0   191.0        NaN     NaN
915962   46.233153 -116.434146        0.0     0.0        0.0     0.0
2905527  31.868989 -102.542943     4908.0   121.0        0.0  6542.0
2335002  18.328802  -65.887612      535.0     0.0        0.0   535.0
730925   44.470681  -88.965345        0.0     0.0        0.0     0.0
2863330  39.285385  -80.379196    24745.0   274.0        NaN     NaN
1283685  42.390401  -96.566564     1475.0    15.0        0.0  1460.0
1108352  34.459469  -85.807829    18762.0   327.0        NaN     NaN

                          Combined_Key  Incident_Rate  Case_Fatality_Ratio  \
2831707             Wilson, Kansas, US   37818.181818             1.581886
943636            Jefferson, Texas, US   15478.437106                  NaN
2554612  Greenwood, South Carolina, US   15816.751635             1.705357
915962                Lewis, Idaho, US   15478.437106                  NaN
2905527               Ector, Texas, US   15478.437106                  NaN
2335002     Canovanas, Puerto Rico, US   15478.437106                  NaN
730925          Waupaca, Wisconsin, US   15478.437106                  NaN
2863330    Harrison, West Virginia, US   36792.256453             1.107294
1283685           Dakota, Nebraska, US   15478.437106                  NaN
1108352            DeKalb, Alabama, US   26235.789297             1.742885

              Date
2831707 2022-10-25
943636  2020-04-14
2554612 2021-09-27
915962  2020-04-11
2905527 2020-11-02
2335002 2020-09-05
730925  2020-03-22
2863330 2022-10-28
1283685 2020-05-20
1108352 2022-05-01

In [61]:
df_us = df_us.merge(fips_mapping[['fips', 'state', 'name']], 
                    left_on='FIPS',   
                    right_on='fips',  
                    how='left')

df_us.drop(columns=['fips'], inplace=True)

In [62]:
print(df_us.columns)

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio', 'Date', 'state',
       'name'],
      dtype='object')

In [63]:
print("Missing values in state column:", df_us['state'].isna().sum())
print("Missing values in name column:", df_us['name'].isna().sum())

Missing values in state column: 141783
Missing values in name column: 141783

In [64]:
print(df_us[['FIPS', 'Province_State', 'state', 'name']].sample(10))

          FIPS Province_State state                 name
72853    18037        Indiana    IN        Dubois County
958155   12091        Florida    FL      Okaloosa County
1146045  51119       Virginia    VA     Middlesex County
1068649  28049    Mississippi    MS         Hinds County
755606   36081       New York    NY        Queens County
3014965  17199       Illinois    IL    Williamson County
1351096  51650       Virginia    VA         Hampton city
910537   46003   South Dakota    SD        Aurora County
313675   40125       Oklahoma    OK  Pottawatomie County
2003009  20207         Kansas    KS       Woodson County

In [65]:
missing_fips = df_us[df_us['state'].isna()]
print(missing_fips[['FIPS', 'Province_State']])

          FIPS Province_State
52       80001        Alabama
64       90001        Alabama
83        2158         Alaska
93       90002         Alaska
108      80004        Arizona
...        ...            ...
3020601  90051       Virginia
3020646  90053     Washington
3020700  90054  West Virginia
3020770  90055      Wisconsin
3020802  90056        Wyoming

[141783 rows x 2 columns]

In [66]:
missing_fips = df_us[df_us['FIPS'].isna()]
print("Total rows with missing FIPS:", len(missing_fips))
print(missing_fips[['Province_State', 'Country_Region', 'state']].head(10))

Total rows with missing FIPS: 10583
     Province_State Country_Region state
1249  Massachusetts             US   NaN
1284       Michigan             US   NaN
1316       Michigan             US   NaN
1569       Missouri             US   NaN
2444      Recovered             US   NaN
2917           Utah             US   NaN
2918           Utah             US   NaN
2922           Utah             US   NaN
2923           Utah             US   NaN
2926           Utah             US   NaN

In [67]:
state_abbr_map = {
    "Alabama": "AL", "Alaska": "AK", "Arizona": "AZ", "Arkansas": "AR", "California": "CA",
    "Colorado": "CO", "Connecticut": "CT", "Delaware": "DE", "Florida": "FL", "Georgia": "GA",
    "Hawaii": "HI", "Idaho": "ID", "Illinois": "IL", "Indiana": "IN", "Iowa": "IA", "Kansas": "KS",
    "Kentucky": "KY", "Louisiana": "LA", "Maine": "ME", "Maryland": "MD", "Massachusetts": "MA",
    "Michigan": "MI", "Minnesota": "MN", "Mississippi": "MS", "Missouri": "MO", "Montana": "MT",
    "Nebraska": "NE", "Nevada": "NV", "New Hampshire": "NH", "New Jersey": "NJ", "New Mexico": "NM",
    "New York": "NY", "North Carolina": "NC", "North Dakota": "ND", "Ohio": "OH", "Oklahoma": "OK",
    "Oregon": "OR", "Pennsylvania": "PA", "Rhode Island": "RI", "South Carolina": "SC",
    "South Dakota": "SD", "Tennessee": "TN", "Texas": "TX", "Utah": "UT", "Vermont": "VT",
    "Virginia": "VA", "Washington": "WA", "West Virginia": "WV", "Wisconsin": "WI", "Wyoming": "WY"
}

In [68]:
print("Is state_abbr_map True?", "state_abbr_map" in globals())

Is state_abbr_map True? True

In [69]:
print(df_us[['Province_State']].drop_duplicates().head(10))

df_us['state'] = df_us.apply(
    lambda row: state_abbr_map.get(row['Province_State'], row['state']) if pd.notna(row['Province_State']) else row['state'],
    axis=1
)

           Province_State
0                 Alabama
69                 Alaska
98                Arizona
115              Arkansas
191            California
250              Colorado
316           Connecticut
325              Delaware
329      Diamond Princess
330  District of Columbia

In [70]:
unwanted_entries = ["Diamond Princess", "Grand Princess", "District of Columbia"]

df_us = df_us[~df_us['Province_State'].isin(unwanted_entries)].copy()

In [71]:
missing_fips = df_us[df_us['FIPS'].isna()]
print("Total rows with missing FIPS:", len(missing_fips))
print(missing_fips[['Province_State', 'Country_Region', 'state']].head(10))

Total rows with missing FIPS: 10583
     Province_State Country_Region state
1249  Massachusetts             US    MA
1284       Michigan             US    MI
1316       Michigan             US    MI
1569       Missouri             US    MO
2444      Recovered             US   NaN
2917           Utah             US    UT
2918           Utah             US    UT
2922           Utah             US    UT
2923           Utah             US    UT
2926           Utah             US    UT

In [72]:
valid_states = set(state_abbr_map.keys())

In [73]:
df_us = df_us[df_us['Province_State'].isin(valid_states)].copy()

In [74]:
print("Remaining unique Province_State values:")
print(df_us['Province_State'].drop_duplicates().sort_values())

Remaining unique Province_State values:
0              Alabama
69              Alaska
98             Arizona
115           Arkansas
191         California
250           Colorado
316        Connecticut
325           Delaware
331            Florida
399            Georgia
562             Hawaii
568              Idaho
613           Illinois
717            Indiana
810               Iowa
910             Kansas
1016          Kentucky
1137         Louisiana
1203             Maine
1221          Maryland
1246     Massachusetts
1260          Michigan
1347         Minnesota
1435       Mississippi
1518          Missouri
1635           Montana
1692          Nebraska
1786            Nevada
1804     New Hampshire
1815        New Jersey
1837        New Mexico
1871          New York
1935    North Carolina
2036      North Dakota
2091              Ohio
2180          Oklahoma
2259            Oregon
2296      Pennsylvania
2445      Rhode Island
2451    South Carolina
2498      South Dakota
2565         Tennessee
2662             Texas
2917              Utah
2931           Vermont
2947          Virginia
3081        Washington
3121     West Virginia
3177         Wisconsin
3250           Wyoming
Name: Province_State, dtype: object

In [75]:
missing_fips = df_us[df_us['FIPS'].isna()]
print("Total rows with missing FIPS:", len(missing_fips))
print(missing_fips[['Province_State', 'Country_Region', 'state']].head(10))

Total rows with missing FIPS: 9622
     Province_State Country_Region state
1249  Massachusetts             US    MA
1284       Michigan             US    MI
1316       Michigan             US    MI
1569       Missouri             US    MO
2917           Utah             US    UT
2918           Utah             US    UT
2922           Utah             US    UT
2923           Utah             US    UT
2926           Utah             US    UT
2930           Utah             US    UT

In [76]:
missing_states = df_us[df_us['state'].isna()]
print("Total rows with missing state:", len(missing_states))

Total rows with missing state: 0

In [77]:
print(df_us.columns)

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio', 'Date', 'state',
       'name'],
      dtype='object')

In [78]:
print("Total number of rows:", df_us.shape[0])

Total number of rows: 2948527

In [79]:
print(df_us.columns)

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio', 'Date', 'state',
       'name'],
      dtype='object')

In [80]:
missing_name = df_us[df_us['name'].isna()]
print("Total rows with missing name:", len(missing_name))

Total rows with missing name: 70439

In [81]:
missing_fips = df_us[df_us['FIPS'].isna()]
print("Total rows with missing FIPS:", len(missing_fips))

Total rows with missing FIPS: 9622

In [82]:
df_us.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Date,state,name
0,1001,Autauga,Alabama,US,2021-01-02 05:22:33,32.539527,-86.644082,4239.0,50.0,0.0,4189.0,"Autauga, Alabama, US",7587.391935,1.179523,2021-01-01,AL,Autauga County
1,1003,Baldwin,Alabama,US,2021-01-02 05:22:33,30.727750,-87.722071,13823.0,169.0,0.0,13654.0,"Baldwin, Alabama, US",6192.157109,1.222600,2021-01-01,AL,Baldwin County
2,1005,Barbour,Alabama,US,2021-01-02 05:22:33,31.868263,-85.387129,1517.0,33.0,0.0,1484.0,"Barbour, Alabama, US",6145.183505,2.175346,2021-01-01,AL,Barbour County
3,1007,Bibb,Alabama,US,2021-01-02 05:22:33,32.996421,-87.125115,1854.0,46.0,0.0,1808.0,"Bibb, Alabama, US",8279.003304,2.481122,2021-01-01,AL,Bibb County
4,1009,Blount,Alabama,US,2021-01-02 05:22:33,33.982109,-86.567906,4693.0,63.0,0.0,4630.0,"Blount, Alabama, US",8115.726490,1.342425,2021-01-01,AL,Blount County

In [83]:
missing_admin = df_us[df_us['Admin2'].isna()]
print("Total rows with missing Admin2:", len(missing_admin))

Total rows with missing Admin2: 0

In [84]:
missing_name = df_us[df_us['name'].isna()]
print("Total rows with missing name:", len(missing_name))
print(missing_name[['Admin2', 'Province_State', 'state']].drop_duplicates().head(20))

Total rows with missing name: 70439
         Admin2 Province_State state
52    Out of AL        Alabama    AL
64   Unassigned        Alabama    AL
83     Kusilvak         Alaska    AK
93   Unassigned         Alaska    AK
108   Out of AZ        Arizona    AZ
112  Unassigned        Arizona    AZ
184  Unassigned       Arkansas    AR
246  Unassigned     California    CA
297   Out of CO       Colorado    CO
312  Unassigned       Colorado    CO
323  Unassigned    Connecticut    CT
328  Unassigned       Delaware    DE
393  Unassigned        Florida    FL
508   Out of GA        Georgia    GA
543  Unassigned        Georgia    GA
566   Out of HI         Hawaii    HI
567  Unassigned         Hawaii    HI
610  Unassigned          Idaho    ID
684   Out of IL       Illinois    IL
704  Unassigned       Illinois    IL

In [85]:
df_us = df_us[~df_us['Admin2'].str.contains('Unassigned|Out of', na=False)].copy()

In [86]:
missing_name = df_us[df_us['name'].isna()]
print("Total rows with missing name:", len(missing_name))
print(missing_name[['Admin2', 'Province_State', 'state']].drop_duplicates().head(20))

Total rows with missing name: 12849
                                           Admin2 Province_State state
83                                       Kusilvak         Alaska    AK
1249                          Dukes and Nantucket  Massachusetts    MA
1284       Federal Correctional Institution (FCI)       Michigan    MI
1316    Michigan Department of Corrections (MDOC)       Michigan    MI
1569                                  Kansas City       Missouri    MO
2548                                Oglala Lakota   South Dakota    SD
2917                                   Bear River           Utah    UT
2918                                 Central Utah           Utah    UT
2922                               Southeast Utah           Utah    UT
2923                               Southwest Utah           Utah    UT
2926                                    TriCounty           Utah    UT
2930                                 Weber-Morgan           Utah    UT
3274                                 Copper River         Alaska    AK
3275                                      Chugach         Alaska    AK
728013                                     Desoto        Florida    FL
728064                                   Brockton  Massachusetts    MA
728251                               Out-of-state      Tennessee    TN
728254                                    Unknown      Tennessee    TN
728640                                     LeSeur      Minnesota    MN
728801                                     Nashua  New Hampshire    NH

In [87]:
missing_fips = df_us[df_us['FIPS'].isna()]
print("Total rows with missing FIPS:", len(missing_fips))
print(missing_name[['Admin2', 'Province_State', 'state']].drop_duplicates().head(20))

Total rows with missing FIPS: 9276
                                           Admin2 Province_State state
83                                       Kusilvak         Alaska    AK
1249                          Dukes and Nantucket  Massachusetts    MA
1284       Federal Correctional Institution (FCI)       Michigan    MI
1316    Michigan Department of Corrections (MDOC)       Michigan    MI
1569                                  Kansas City       Missouri    MO
2548                                Oglala Lakota   South Dakota    SD
2917                                   Bear River           Utah    UT
2918                                 Central Utah           Utah    UT
2922                               Southeast Utah           Utah    UT
2923                               Southwest Utah           Utah    UT
2926                                    TriCounty           Utah    UT
2930                                 Weber-Morgan           Utah    UT
3274                                 Copper River         Alaska    AK
3275                                      Chugach         Alaska    AK
728013                                     Desoto        Florida    FL
728064                                   Brockton  Massachusetts    MA
728251                               Out-of-state      Tennessee    TN
728254                                    Unknown      Tennessee    TN
728640                                     LeSeur      Minnesota    MN
728801                                     Nashua  New Hampshire    NH

In [88]:
custom_fips_map = {
    "Kusilvak": "02158",
    "Dukes and Nantucket": "25007",
    "Federal Correctional Institution (FCI)": "00000",
    "Michigan Department of Corrections (MDOC)": "00000",
    "Kansas City": "29510",
    "Oglala Lakota": "46102",
    "Bear River": "49003",
    "Central Utah": "49023",
    "Southeast Utah": "49037",
    "Southwest Utah": "49053",
    "TriCounty": "49047",
    "Weber-Morgan": "49057",
    "Copper River": "02066",
    "Chugach": "02063",
    "Desoto": "12027",
    "LeSeur": "27079",
    "Nashua": "33011"
}

In [89]:
df_us['FIPS'] = df_us.apply(
    lambda row: custom_fips_map.get(row['Admin2'], row['FIPS']),
    axis=1
)

In [90]:
missing_fips = df_us[df_us['FIPS'].isna()]
print("Total rows with missing FIPS:", len(missing_fips))
print(missing_name[['Admin2', 'Province_State', 'state']].drop_duplicates().head(20))

Total rows with missing FIPS: 180
                                           Admin2 Province_State state
83                                       Kusilvak         Alaska    AK
1249                          Dukes and Nantucket  Massachusetts    MA
1284       Federal Correctional Institution (FCI)       Michigan    MI
1316    Michigan Department of Corrections (MDOC)       Michigan    MI
1569                                  Kansas City       Missouri    MO
2548                                Oglala Lakota   South Dakota    SD
2917                                   Bear River           Utah    UT
2918                                 Central Utah           Utah    UT
2922                               Southeast Utah           Utah    UT
2923                               Southwest Utah           Utah    UT
2926                                    TriCounty           Utah    UT
2930                                 Weber-Morgan           Utah    UT
3274                                 Copper River         Alaska    AK
3275                                      Chugach         Alaska    AK
728013                                     Desoto        Florida    FL
728064                                   Brockton  Massachusetts    MA
728251                               Out-of-state      Tennessee    TN
728254                                    Unknown      Tennessee    TN
728640                                     LeSeur      Minnesota    MN
728801                                     Nashua  New Hampshire    NH

In [91]:
df_us = df_us[~df_us['Admin2'].str.contains('Out-of-state|Unknown', na=False)].copy()

In [92]:
missing_fips = df_us[df_us['FIPS'].isna()]
print("Total rows with missing FIPS:", len(missing_fips))
print(missing_name[['Admin2', 'Province_State', 'state']].drop_duplicates().head(20))

Total rows with missing FIPS: 178
                                           Admin2 Province_State state
83                                       Kusilvak         Alaska    AK
1249                          Dukes and Nantucket  Massachusetts    MA
1284       Federal Correctional Institution (FCI)       Michigan    MI
1316    Michigan Department of Corrections (MDOC)       Michigan    MI
1569                                  Kansas City       Missouri    MO
2548                                Oglala Lakota   South Dakota    SD
2917                                   Bear River           Utah    UT
2918                                 Central Utah           Utah    UT
2922                               Southeast Utah           Utah    UT
2923                               Southwest Utah           Utah    UT
2926                                    TriCounty           Utah    UT
2930                                 Weber-Morgan           Utah    UT
3274                                 Copper River         Alaska    AK
3275                                      Chugach         Alaska    AK
728013                                     Desoto        Florida    FL
728064                                   Brockton  Massachusetts    MA
728251                               Out-of-state      Tennessee    TN
728254                                    Unknown      Tennessee    TN
728640                                     LeSeur      Minnesota    MN
728801                                     Nashua  New Hampshire    NH

In [93]:
custom_fips_map.update({
    "Brockton": "25023",  
    "Out-of-state": "00000",  
    "Unknown": "00000", 
})

In [94]:
df_us['FIPS'] = df_us.apply(
    lambda row: custom_fips_map.get(row['Admin2'], row['FIPS']),
    axis=1
)

In [95]:
missing_fips = df_us[df_us['FIPS'].isna()]
print("Total rows with missing FIPS:", len(missing_fips))
print(missing_name[['Admin2', 'Province_State', 'state']].drop_duplicates().head(20))

Total rows with missing FIPS: 177
                                           Admin2 Province_State state
83                                       Kusilvak         Alaska    AK
1249                          Dukes and Nantucket  Massachusetts    MA
1284       Federal Correctional Institution (FCI)       Michigan    MI
1316    Michigan Department of Corrections (MDOC)       Michigan    MI
1569                                  Kansas City       Missouri    MO
2548                                Oglala Lakota   South Dakota    SD
2917                                   Bear River           Utah    UT
2918                                 Central Utah           Utah    UT
2922                               Southeast Utah           Utah    UT
2923                               Southwest Utah           Utah    UT
2926                                    TriCounty           Utah    UT
2930                                 Weber-Morgan           Utah    UT
3274                                 Copper River         Alaska    AK
3275                                      Chugach         Alaska    AK
728013                                     Desoto        Florida    FL
728064                                   Brockton  Massachusetts    MA
728251                               Out-of-state      Tennessee    TN
728254                                    Unknown      Tennessee    TN
728640                                     LeSeur      Minnesota    MN
728801                                     Nashua  New Hampshire    NH

In [96]:
df_us = df_us.dropna(subset=['FIPS']).copy()

In [97]:
missing_fips_after = df_us[df_us['FIPS'].isna()]
print("Total rows still missing FIPS after dropping:", len(missing_fips_after))

Total rows still missing FIPS after dropping: 0

In [98]:
print(df_us.isnull().sum())

FIPS                         0
Admin2                       0
Province_State               0
Country_Region               0
Last_Update                  0
Lat                          0
Long_                        0
Confirmed                    0
Deaths                       0
Recovered              1979339
Active                 1979339
Combined_Key                 0
Incident_Rate                0
Case_Fatality_Ratio     700137
Date                         0
state                        0
name                     12670
dtype: int64

In [99]:
print(df_us.isnull().sum() / len(df) * 100)

FIPS                    0.000000
Admin2                  0.000000
Province_State          0.000000
Country_Region          0.000000
Last_Update             0.000000
Lat                     0.000000
Long_                   0.000000
Confirmed               0.000000
Deaths                  0.000000
Recovered              53.782601
Active                 53.782601
Combined_Key            0.000000
Incident_Rate           0.000000
Case_Fatality_Ratio    19.024123
Date                    0.000000
state                   0.000000
name                    0.344269
dtype: float64

In [100]:
df_us = df_us.dropna(subset=['Confirmed', 'Deaths']).copy()

In [101]:
print(df_us[['Confirmed', 'Deaths']].isna().sum())

Confirmed    0
Deaths       0
dtype: int64

In [102]:
df_us = df_us.dropna(subset=['name']).copy()

In [103]:
print(df_us[['name']].isna().sum())

name    0
dtype: int64

In [104]:
df_us = df_us.dropna(subset=['Recovered', 'Active']).copy()

In [105]:
print(df_us.isnull().sum() / len(df) * 100)

FIPS                    0.00000
Admin2                  0.00000
Province_State          0.00000
Country_Region          0.00000
Last_Update             0.00000
Lat                     0.00000
Long_                   0.00000
Confirmed               0.00000
Deaths                  0.00000
Recovered               0.00000
Active                  0.00000
Combined_Key            0.00000
Incident_Rate           0.00000
Case_Fatality_Ratio    18.91212
Date                    0.00000
state                   0.00000
name                    0.00000
dtype: float64

In [106]:
df_us['Case_Fatality_Ratio'] = df_us['Case_Fatality_Ratio'].fillna((df_us['Deaths'] / df_us['Confirmed']) * 100)

In [107]:
print(df_us.isnull().sum() / len(df) * 100)

FIPS                   0.0000
Admin2                 0.0000
Province_State         0.0000
Country_Region         0.0000
Last_Update            0.0000
Lat                    0.0000
Long_                  0.0000
Confirmed              0.0000
Deaths                 0.0000
Recovered              0.0000
Active                 0.0000
Combined_Key           0.0000
Incident_Rate          0.0000
Case_Fatality_Ratio    0.5198
Date                   0.0000
state                  0.0000
name                   0.0000
dtype: float64

In [108]:
df_us = df_us.dropna(subset=['Case_Fatality_Ratio']).copy()

In [109]:
print(df_us.isnull().sum() / len(df) * 100)

FIPS                   0.0
Admin2                 0.0
Province_State         0.0
Country_Region         0.0
Last_Update            0.0
Lat                    0.0
Long_                  0.0
Confirmed              0.0
Deaths                 0.0
Recovered              0.0
Active                 0.0
Combined_Key           0.0
Incident_Rate          0.0
Case_Fatality_Ratio    0.0
Date                   0.0
state                  0.0
name                   0.0
dtype: float64

In [110]:
df_us.to_csv('Kiana_cleaned_covid19_daily_reports_US.csv', index=False)

In [111]:
print("Yayayayaya")

Yayayayaya