In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [29]:
url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv"
df = pd.read_csv(url)
#df.head()

In [37]:
def analyze_df(df, head_rows=5):
    print(f"1. First {head_rows} rows of data:\n")
    display(df.head())

    print(f"\n 2. Data Info:\n")
    display(df.info())

    print(f"\n 3. Description of Data:\n")
    display(df.describe().transpose())

    print(f" 4. Missing Values: \n")
    missing_values = df.isnull().sum()
    display(missing_values)

In [39]:
analyze_df(df, head_rows=5)

1. First 5 rows of data:

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,19732,19759,19759,19759,19759,19759,19759,19759,19790,19790
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,69641,69767,69767,69767,69767,69767,69767,69767,69860,69860
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7451,7474,7474,7474,7474,7474,7474,7474,7485,7485
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,8067,8087,8087,8087,8087,8087,8087,8087,8091,8091
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,18616,18673,18673,18673,18673,18673,18673,18673,18704,18704

 2. Data Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Columns: 1154 entries, UID to 3/9/23
dtypes: float64(3), int64(1145), object(6)
memory usage: 29.4+ MB

None

 3. Description of Data:

,count,mean,std,min,25%,50%,75%,max
UID,3342.0,8.342992e+07,4.314076e+06,16.0000,8.401811e+07,8.402921e+07,8.404612e+07,8.410000e+07
code3,3342.0,8.344949e+02,3.648738e+01,16.0000,8.400000e+02,8.400000e+02,8.400000e+02,8.500000e+02
FIPS,3332.0,3.304308e+04,1.864881e+04,60.0000,1.907650e+04,3.101200e+04,4.712950e+04,9.999900e+04
Lat,3342.0,3.672162e+01,9.079322e+00,-14.2710,3.389680e+01,3.800561e+01,4.157926e+01,6.931479e+01
Long_,3342.0,-8.864205e+01,2.177629e+01,-174.1596,-9.780360e+01,-8.948886e+01,-8.231340e+01,1.456739e+02
...,...,...,...,...,...,...,...,...
3/5/23,3342.0,3.101346e+04,1.083090e+05,0.0000,2.920250e+03,7.724500e+03,2.031275e+04,3.705381e+06
3/6/23,3342.0,3.101602e+04,1.083152e+05,0.0000,2.920250e+03,7.724500e+03,2.031950e+04,3.705381e+06
3/7/23,3342.0,3.102660e+04,1.083322e+05,0.0000,2.923000e+03,7.735500e+03,2.033450e+04,3.705381e+06
3/8/23,3342.0,3.104601e+04,1.083601e+05,0.0000,2.917500e+03,7.735500e+03,2.034500e+04,3.705381e+06
3/9/23,3342.0,3.106005e+04,1.084494e+05,0.0000,2.917500e+03,7.750000e+03,2.034875e+04,3.710586e+06

 4. Missing Values:

UID        0
iso2       0
iso3       0
code3      0
FIPS      10
          ..
3/5/23     0
3/6/23     0
3/7/23     0
3/8/23     0
3/9/23     0
Length: 1154, dtype: int64

In [43]:
df.corr(numeric_only = True)

,UID,code3,FIPS,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
UID,1.000000,0.903837,-0.198878,0.314510,-0.235543,0.002499,0.002499,0.003433,0.003433,0.005271,...,0.019133,0.019149,0.019150,0.019143,0.019139,0.019132,0.019131,0.019140,0.019154,0.019149
code3,0.903837,1.000000,-0.265840,0.341350,-0.194864,0.002611,0.002611,0.003693,0.003693,0.005841,...,0.022528,0.022545,0.022543,0.022536,0.022531,0.022523,0.022523,0.022532,0.022547,0.022541
FIPS,-0.198878,-0.265840,1.000000,-0.454444,0.484305,0.018575,0.018575,0.002614,0.002614,-0.032867,...,-0.074335,-0.074315,-0.074165,-0.074383,-0.074381,-0.074391,-0.074382,-0.074408,-0.074399,-0.074368
Lat,0.314510,0.341350,-0.454444,1.000000,-0.722433,0.020525,0.020525,0.021416,0.021416,0.006040,...,0.001107,0.001089,0.000956,0.000945,0.000944,0.000947,0.000954,0.000979,0.000956,0.000972
Long_,-0.235543,-0.194864,0.484305,-0.722433,1.000000,-0.026374,-0.026374,-0.018188,-0.018188,-0.040863,...,-0.029631,-0.029654,-0.029495,-0.029566,-0.029562,-0.029564,-0.029554,-0.029579,-0.029579,-0.029562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3/5/23,0.019132,0.022523,-0.074391,0.000947,-0.029564,0.082891,0.082891,0.227925,0.227925,0.568070,...,0.999998,0.999997,0.999995,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3/6/23,0.019131,0.022523,-0.074382,0.000954,-0.029554,0.082885,0.082885,0.227912,0.227912,0.568036,...,0.999998,0.999997,0.999995,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3/7/23,0.019140,0.022532,-0.074408,0.000979,-0.029579,0.082871,0.082871,0.227874,0.227874,0.567943,...,0.999998,0.999997,0.999995,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3/8/23,0.019154,0.022547,-0.074399,0.000956,-0.029579,0.082846,0.082846,0.227811,0.227811,0.567884,...,0.999998,0.999998,0.999995,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3/9/23,0.019149,0.022541,-0.074368,0.000972,-0.029562,0.082776,0.082776,0.228119,0.228119,0.568174,...,0.999998,0.999998,0.999996,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [45]:
df.shape

(3342, 1154)